<?php
$mysqli = new mysqli("localhost", "user", "pwd", "dbname");
if (mysqli_connect_errno()) {
    printf("fail to connect with the DB : %s\n", mysqli_connect_error());
    exit();
}

function remove_tags($message)
{
$message = str_replace("<","<",$message);
$message = str_replace(">",">",$message);
$message = str_replace("\'","'",$message);
$message = str_replace('\"',"\"",$message);
return $message;
}
?>
