body{
	background: #e31;
	margin:0;
	padding:0;
	font-size:16px;
	font-family: 'Lobster', cursive;

}

body > *{
		transition: all 0.3s ease-in-out;
}

nav{
	padding:0;
	margin:0;
}
nav ul {
	width:100%;
	text-align:center;
	list-style: none;
	background: #333;
	border-bottom: 3px solid rgb(36,36,36);
	padding: 0;
	margin:0;
}

ul li {
	display: inline-block;
	padding: 0.1em 0.4em;
	margin: 0 1em;
}

ul li a{
	color:white;
	line-height: 40px;
	text-decoration:none;
}

ul.sub-menu{
	width:100%;
	text-align: center;
	background:#555;
	border-bottom: 5px solid rgb(94, 26, 0);;
	padding:0;
	margin:0;
}

.sub-menu li a{
	line-height: 25px;
	font-size:0.8em;
}

table {
color: white;
margin: 0 auto;
}

table a{
	color:white;
}


h2{
	text-align:center;
	color:white;
}

ul li h1{
	padding:0;
	margin:0;
	color:white;
	font-weight:400;
	line-height:45px;

}
ul li{
	transition: all 0.2s ease-in-out;
}
ul li:hover{
	background:#111;
}


h2, h3, table{
	font-family: 'Arvo', serif;
}




table a{
	text-decoration:none;
	padding: 0.3em 0.4em;
	line-height:1.2em;
	margin:0.5em;
	background:#333;
	transition: all 0.2s ease-in-out;
}
table a:hover{
	background:transparent;
	text-shadow:0 0 15px rgb(180, 0, 0), -1px -1px 1px rgba(0, 0, 0, 0.33), 1px 1px 1px rgba(0, 0, 0, 0.37)
}

table tr{
	height:2em;
}

table td{
	padding: 1em;
	padding-left:0;
}

table .used b{
	text-decoration:line-through; 
}

footer{
	width:70%;

	text-align:right;
	margin: 2em auto;
	color:white;
	font-size:0.8em;
}

footer a{
	color:#dedede;
	text-decoration: none;
}

header {
	position: fixed;
	top: 0;
	width: 100%;

}

body.index{
	margin-top:5em;
}


@media screen and (max-width: 950px){
	table{
		width:95%;
	}
	table a{
		font-size:0.8em;
		display:block;
	}
}

@media screen and (max-width: 770px){

	.sub-menu a{
		font-size:0.6em!important;
	}

}

@media screen and (max-width: 650px){
nav ul li{
	width:38%;
	margin:0;
}

body.index{
	margin-top:10em;
}


}

@media screen and (max-width: 570px){

	table .date_start, table .date_used{
		visibility: hidden;
		display:none;
	}


}

a.exit{
	background:#333;
	padding:0.2em 0.3em;
	border-radius:0.2em;
}

fieldset{
	width: 100%;
	margin: 0 auto;
	max-width:500px;
	color:white;
}

fieldset ol{
	list-style: none;
}

fieldset input[type=submit]{
	border: 1px solid #ccc;
	width: 100%;
	font-size: 1em;
	padding: 0.2em;
}

#result{
	text-align: center;
	color:white;
}

#result a{
	color:white;
	text-decoration: none;
	background: #333;
	padding: 0.3em 0.4em;
	border-radius: 0.2em;
	transition: all 0.2s ease-in-out;
}

#result a:hover{
	background: transparent;
	color:#333;
}